<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include aside.html %}

<div class="b-content {{page.layout}}">

  <div class="b-content__inner clearfix">
    <div class="b-content__left"> 
      {% if page.template == 'index' and site.posts.size > 0 %}
      <div class="b-content__title">Last Articles</div>
      <!-- /.b-content__title -->
      {% endif %}
      <div class="b-content__content">
        {{content}}
      </div>
    </div>

    <div class="b-content__right">

    </div>
  </div>


</div>
<!-- /.b-content -->

</body>

</html>

